In [2]:
# You can use python like a calculator
2+3

5

In [3]:
# Comments starts with a hash 
# You can define different type of variables
x = 2
name = "Python"
price = 4.5

#To print a value use print
print(x)
print(name)
print(price)

2
Python
4.5

In [4]:
#Operate upon these variables
y = x + 4
print(y)

fullname = name + " Language"
print(fullname)

amount = price*x
print(amount)

6
Python Language
9.0

In [13]:
#Define complex expressions
x = 0.6
x = 3.9   *   x   *   (  1   -   x  )
print(x)

0.9359999999999999

In [14]:
#Some more expressions
x = 5
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [5]:
#To know what kind of data a variable has use type
print(x)
type(x)

2

int

In [15]:
type(name)

str

In [16]:
type(price)

float

In [6]:
# You can save the lines in a file
# either run on command prompt using python with the file
#or use run here
%run simpleexp.py
%run hello.py

12
hello
7

In [8]:
!python hello.py

hello
7

In [9]:
#Read from user
nam = input('Who are you?')
print ('Welcome', nam)

Who are you?sandeep
Welcome sandeep

In [17]:
#Convert to int
inp = input('Europe floor?')
usf = int(inp) + 1
print ('US floor', usf)

Europe floor?34
US floor 35

In [10]:
#Write a program to prompt the user for hours 
# and rate per hour to compute gross pay.
#Enter Hours: 35 
#Enter Rate: 2.75 
#Pay: 96.25
try:
    pay = float(input("Hours:")) * float(input("Pay:"))
    print(pay)
except:
    print("Wrong Input")

Hours:sasa
Wrong Input

In [4]:
# Comparison Operators
x = 5
if x == 5 : 
    print ('Equals 5')
if x > 4 : 
   print ('Greater than 4')
if  x >= 5 :
    print ('Greater than or Equals 5')
if x < 6 : 
    print ('Less than 6')
if x <= 5 :
    print ('Less than or Equals 5')
if x != 6 :
    print ('Not equal 6')

Equals 5
Greater than 4
Greater than or Equals 5
Less than 6
Less than or Equals 5
Not equal 6

In [23]:
#More conditional
x = 50
if x < 2 :
    print ('small')
elif x < 10 :
    print ('Medium')
else :
    print ('LARGE')
print ('All done')

LARGE
All done

Rewrite your pay program using try and except so that your program handles non-numeric input gracefully.

Enter Hours: 20 
Enter Rate: nine 
Error, please enter numeric input

Enter Hours: forty  
Error, please enter numeric input

In [14]:
# This is how you define functions
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print (x)

8

In [16]:
def ordernums(a, b):
    if a > b:
        return [a,b]
    else:
        return [b,a]
print(ordernums(3,4))
print(ordernums(13,4))

[4, 3]
[13, 4]

In [25]:
def sq(x): return x*x
sq(3)

9

In [36]:
def mymap(a, f):
    retval = []
    for i in a:
        v = f(i)
        retval.append(v)
    return retval

#print(mymap([1,2,3], sq))
#def cube(x): return x*x*x

print(mymap([1,2,3], print))

#mymap([1,2,3], print)
# def myf(x): return x*2
# mymap([1,2,3,4], lambda x:x*2)
mymap([1,2,3,4], lambda x:x*2)

1
2
3
[None, None, None]

In [35]:
sum = lambda x,y: x + y
sum(4,5)

9

In [41]:
f = lambda x,y: x + y
m

In [42]:
mymap([1,2,3,4], lambda x: x*int(input("multiplier:")))

multiplier:2
multiplier:3
multiplier:4
multiplier:5

[2, 6, 12, 20]


Rewrite your pay computation with time-and-a-half for overtime and create a function called computepay which takes two parameters ( hours and  rate).

Enter Hours: 45
Enter Rate: 10 
Pay: 475.0

In [15]:
n = 5
while n > 0 :
    print (n)
    n = n - 1
print ('Blastoff!')
print (n)

5
4
3
2
1
Blastoff!
0

In [30]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print (line)
print ('Done!')

> sandeep
sandeep
> giri
giri
> python
python
> cloudxlab
cloudxlab
> done
Done!

In [32]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    while True:
        name = input("... ")
        if name == "":
            break
    print (line)
print ('Done!')

> sandeep
... s
... s
... s
...
sandeep
> giri
... s
...
giri
> done
Done!

In [33]:
while True:
    line = input('> ')
    if line[0] == '#' : 
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

> #sandeep
> done
Done!

In [34]:
x = [1,2,3, 4]

In [35]:
x

[1, 2, 3, 4]

In [36]:
type(x)

list

In [39]:
for countdown in [5, 4, 3, 2, 1]:
    n = countdown
    while n > 0:
        print(".")
        n = n - 1
    print(countdown)
print("Blastoff")

.
.
.
.
.
5
.
.
.
.
4
.
.
.
3
.
.
2
.
1
Blastoff

In [52]:
x = ["apple", "banana", "eggs"]
x[1] = "Banana"
x.append("cereal")
x.sort()
print(x.reverse())
print(x)

dir(x)

None
['eggs', 'cereal', 'apple', 'Banana']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
l = []
l.append("first")

l.append("second")
l.append("third")

print(l)

['first', 'second', 'third']

In [63]:
print(l.pop())

IndexError: pop from empty list

In [43]:
for item in ["apple", "banana", "eggs", 3, 4, 6.0]:
    print(item)
    print(type(item))

apple
<class 'str'>
banana
<class 'str'>
eggs
<class 'str'>
3
<class 'int'>
4
<class 'int'>
6.0
<class 'float'>

In [60]:
largest_so_far = -1
print ('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num > largest_so_far :
      largest_so_far = the_num
   print (largest_so_far, the_num)
print ('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [62]:
max([9, 41, 12, 3, 74, 15])

74

'''
You are given stock values in an array (365 values) of one year: 
[3, 1.5, 6, 7, 1] 

You can only buy once and then sell once.
You need to find the max profit you can make.

'''

In [64]:
count = 0
sum = 0
print ('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print (count, sum, value)
print ('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [65]:
x

['eggs', 'cereal', 'apple', 'Banana']

In [66]:
x.length

AttributeError: 'list' object has no attribute 'length'

In [67]:
x.length()

AttributeError: 'list' object has no attribute 'length'

In [68]:
len(x)

4

In [69]:
x = ''

In [70]:
x

''

In [71]:
x is None

False

In [77]:
x

''

In [78]:
smallest= None

In [74]:
smallest= None

In [75]:
smallest is None

True

In [79]:
smallest= None

In [80]:
'Hello' == "Hello"

True

In [81]:
"1" == 1

False

In [82]:
"1" + "1"

'11'

In [83]:
1 + 1

2

In [84]:
fruit = "Banana"

In [85]:
fruit

'Banana'

In [87]:
fruit[1]

'a'

In [102]:
for i in range(0,len(fruit)):
    print(fruit[i])

B
a
n
a
n
a

In [99]:
len(fruit)

6

In [103]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [105]:
import sys
sys.stdout.write('hi ')
sys.stdout.write('there ')

hi there

In [108]:
for i in range(1,2):
    print(i)

1

In [109]:
fruit

'Banana'

In [111]:
fruit[6]

IndexError: string index out of range

In [112]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print (index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [116]:
import sys
fruit = 'banana'
for letter in fruit: 
    sys.stdout.write (letter + "::")

b::a::n::a::n::a::

In [114]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
       count = count + 1
print (count)

3

In [117]:
s = "Monty Python"

In [118]:
s[0:]

'Monty Python'

In [119]:
s[1:2]

'o'

In [120]:
s = 'Monty Python'
print (s[0:4])
print (s[6:7])
print (s[6:20])

Mont
P
Python

In [121]:
s[0:]

'Monty Python'

In [122]:
s[:]

'Monty Python'

In [123]:
s[:4]

'Mont'

In [124]:
s[1:]

'onty Python'

In [130]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [129]:
i = 1
while i < 10:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9

In [131]:
fruit

'banana'

In [134]:
'bana' in fruit

True

In [135]:
'b' in 'aeiou'

False

In [138]:
def is_vowel(l):
    return l in 'aeiou'

In [140]:
is_vowel('a')

True

In [142]:
2 in [1,2,3]

True

In [143]:
'apple' < 'banana'

True

In [144]:
'apple' < 'apricot'

True

In [145]:
'Apple' < 'apple'

True

In [146]:
'A' < 'a'

True

In [147]:
ord('A')

65

In [148]:
ord('a')

97

In [ ]:
help("")

In [151]:
fruit.upper()

'BANANA'

In [ ]:
dir("")

In [153]:
"this is a sentense".split()

['this', 'is', 'a', 'sentense']

In [154]:
"this is a line\n".strip()

'this is a line'

In [158]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print (nstr)

Hello Jane

In [159]:
greet

'Hello Bob'

In [67]:
"#".join("this is a sentence".split())
"::".join(["sandeep", "giri"])

'sandeep::giri'

In [164]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [165]:
line.startswith('have')

False

In [167]:
line.lower().startswith('please')

True

In [176]:
fhandle = open("mbox.txt")
count = 0
for line in fhandle:
    count = count + 1
print(count)

2

In [173]:
fhandle

In [174]:
fhandle.read()

'this is one line\nthis is another line\n'

In [175]:
len("X\nY")

3

In [179]:
fname = input('Enter the file name:  ')
try:
  fhand = open(fname)
except:
  print ('File cannot be opened:', fname)
  exit()

count = 0
for line in fhand:
  if line.startswith('Subject:') :
      count = count + 1
print ('There were', count, 'subject lines in', fname)

Enter the file name:  mbox.txt
There were 2 subject lines in mbox.txt

In [ ]:
help("")

In [181]:
fruit

'banana'

In [1]:
fruit[0] = 'a'

NameError: name 'fruit' is not defined

In [184]:
x

''

In [185]:
x = [1,2,3]

In [186]:
x[0]

1

In [187]:
x[0] = 4

In [188]:
x

[4, 2, 3]

In [189]:
fruit = 'Apple'

In [191]:
fruit[0] = '3'

TypeError: 'str' object does not support item assignment

In [1]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]

carryon = [ 'socks', 'shirt', 'perfume' ]

In [3]:
print([1, 24, 76])
print (['red', 'yellow', 'blue'])
print (['red', 24, 98.6])
print([ 1, [5, 6], 7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

In [4]:
#We already use lists!
for i in [5, 4, 3, 2, 1] :
    print (i)
print ('Blastoff!')

5
4
3
2
1
Blastoff!

# Lists and definite loops - best pals

In [6]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print ('Happy New Year:',  friend)
print ('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [8]:
# Looking Inside Lists
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print (friends[1])

Glenn

In [9]:
# Lists are Mutable
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [10]:
x = fruit.lower()
print (x)
lotto = [2, 14, 26, 41, 63]
print (lotto)
lotto[2] = 28
print (lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

In [11]:
# How Long is a List?

greet = 'Hello Bob'
print (len(greet))
x = [ 1, 2, 'joe', 99]
print (len(x))

9
4

In [12]:
# Using the range function

print (range(4))
friends = ['Joseph', 'Glenn', 'Sally']
print (len(friends))
print (range(len(friends)))

range(0, 4)
3
range(0, 3)

In [13]:
# Is Something in a List?

some = [1, 9, 21, 10, 16]
9 in some

True

In [14]:
15 in some
20 not in some

True

In [15]:
#A tale of two loops...

friends = ['Joseph', 'Glenn', 'Sally']

for friend in friends :
    print ('Happy New Year:',  friend)

for i in range(len(friends)) :
    friend = friends[i]
    print ('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [69]:
# Concatenating lists using +

a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)
print (a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [70]:
# Lists can be sliced using :

t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [71]:
# List Methods

x = list()
type(x)
help(x)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [22]:
# Building a List from Scratch

stuff = list()
stuff.append('book')
stuff.append(99)
print (stuff)
stuff.append('cookie')
print (stuff)

['book', 99]
['book', 99, 'cookie']

In [21]:
# A List is an Ordered Sequence

In [23]:
# A List is an Ordered Sequence

friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print (friends)
print (friends[1])

['Glenn', 'Joseph', 'Sally']
Joseph

In [24]:
# Built-in Functions and Lists
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))
print (max(nums))
print (min(nums))
print (sum(nums))
print (sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [72]:
#Computing Average - 1
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value     
    count = count + 1

average = total / count
print ('Average:', average)

Enter a number: 3
Enter a number: 4
Enter a number: 6
Enter a number: done
Average: 4.333333333333333

In [26]:
#Computing Average - 2
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print ('Average:', average)

Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 2
Enter a number: 2
Enter a number: 2
Enter a number: 100
Enter a number: done
Average: 15.571428571428571

In [27]:
# Best Friends: Strings and Lists

abc = 'With three words'
stuff = abc.split()
print (stuff)
print (len(stuff))
print (stuff[0])

['With', 'three', 'words']
3
With

In [31]:
for w in stuff :
     print (w)

With
three
words

In [33]:
#Split

line = 'A lot               of spaces'
etc = line.split()
print (etc)

line = 'first;second;third'
thing = line.split()
print (thing)
print (len(thing))
thing = line.split(';')
print (thing)
print (len(thing))

['A', 'lot', 'of', 'spaces']
['first;second;third']
1
['first', 'second', 'third']
3

In [34]:
 fhand = open('mbox-short.txt')
 for line in fhand:
     line = line.rstrip()
     if not line.startswith('From ') : continue
     words = line.split()
     print (words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

In [37]:
# The Double Split Pattern
## Sometimes we split a line one way, and then grab one of the pieces of the line and split that piece again
line = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
words = line.split()

# stephen.marquard@uct.ac.za
email = words[1]

#['stephen.marquard', 'uct.ac.za']
pieces = email.split('@')

#'uct.ac.za'
print (pieces[1])

uct.ac.za

# Dictionaries

In [41]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)
print(purse['candy'])
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}
3
{'money': 12, 'candy': 5, 'tissues': 75}

## Comparing Lists and Dictionaries

In [43]:
lst = list()
lst.append(21)
lst.append(183)
print(lst)
lst[0] = 23
print(lst)

[21, 183]
[23, 183]

In [44]:
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)
ddd['age'] = 23
print(ddd)

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

In [77]:
## Dictionary Literals (Constants)

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
print(jjj)
print(jjj['chuck'])

ooo = { }
print(ooo)

print(jjj.values())

{'chuck': 1, 'fred': 42, 'jan': 100}
1
{}
dict_values([1, 42, 100])

In [46]:
## Many Counters with a Dictionary
ccc = dict()
ccc['csev'] = 1
ccc['cwen'] = 1
print(ccc)
ccc['cwen'] = ccc['cwen'] + 1
print(ccc)

{'csev': 1, 'cwen': 1}
{'csev': 1, 'cwen': 2}

In [47]:
## When we see a new name

counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    if name not in counts: 
       counts[name] = 1
    else :
        counts[name] = counts[name] + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [78]:
## Simplified counting with get()
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    counts[name] = counts.get(name, 0) + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [79]:
counts = dict()
line = input('Enter a line of text:')
words = line.split()

print('Words:', words)
print('Counting...')

for word in words:
    counts[word] = counts.get(word,0) + 1
print('Counts', counts)

Enter a line of text:this is some text of this file
Words: ['this', 'is', 'some', 'text', 'of', 'this', 'file']
Counting...
Counts {'this': 2, 'is': 1, 'some': 1, 'text': 1, 'of': 1, 'file': 1}

In [83]:
## Definite Loops and Dictionaries

counts = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for key in counts:
    print(key, counts[key])

chuck 1
fred 42
jan 100

In [55]:
## Retrieving lists of Keys and Values

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
print(list(jjj))
print(jjj.keys())
print(jjj.values())
print(jjj.items())

['chuck', 'fred', 'jan']
dict_keys(['chuck', 'fred', 'jan'])
dict_values([1, 42, 100])
dict_items([('chuck', 1), ('fred', 42), ('jan', 100)])

In [84]:
## Bonus: Two Iteration Variables!

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for name,val in jjj.items():
    print(name, val)

chuck 1
fred 42
jan 100

In [123]:
(1, 2, 3) > (3, 2)

False

In [85]:
## Revisit WordCount
name = input('Enter file: ')
handle = open(name)
text = handle.read()
words = text.split()

counts = dict()
for word in words:
   counts[word] = counts.get(word,0) + 1

bigcount = None
bigword = None
for word,count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count
print(bigword, bigcount)

Enter file: mbox.txt
2007 20413

In [106]:
x = print()
print(x)
y = ""
print(x == y)
print(type(x))
print(type(y))

None
False
<class 'NoneType'>
<class 'str'>

In [96]:
mybag = {}
mybag['nbooks'] = 1
mybag['pen'] = 5
mybag['laptop'] = True
mybag['nbooks']
if 'laptop' in mybag: print("Bingo")
else: 
    print("Sorry")

Bingo

# Tuples

In [108]:
# Tuples are like lists

x = ('Glenn', 'Sally', 'Joseph')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))
print(len(y))

Joseph
(1, 9, 2)
9
3

In [109]:
for iter in y:
    print(iter)

1
9
2

## but... Tuples are immutable

In [71]:
# Arrays are mutable
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

In [70]:
# You can't change a tuple
y = 'ABC'
y[2] = 'D'

TypeError: 'str' object does not support item assignment

In [110]:
z = (5, 4, 3)
z[2] = 0

TypeError: 'tuple' object does not support item assignment

In [74]:
# Things not to do with tuples
x = (3, 2, 1)
x.sort()
x.append(5)
x.reverse()

AttributeError: 'tuple' object has no attribute 'sort'

In [4]:
# A Tale of  Two Sequences

l = list()
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
t = tuple()
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [114]:
# Tuples and Assignment
(x, y) = (4, 'fred')
print(y)
print(x)

(a, b) = (99, 98)
print(a)

fred
4
99

In [117]:
def order(x, y):
    if x> y:
        return (x, y)
    return (y, x)

(a, b) = order(1, 2)
(x, y) = order(4, 5)
print(a, b, x, y)

2 1 5 4

In [10]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items(): 
    print(k, v)

csev 2
cwen 4

In [11]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

In [13]:
## Tuples are Comparable
(0, 1, 2) < (5, 1, 2)

True

In [15]:
(0, 1, 2000000) < (0, 3, 4)

True

In [16]:
( 'Jones', 'Sally' ) < ('Jones', 'Sam')

True

In [18]:
( 'Jones', 'Sally') > ('Adams', 'Sam')

True

In [30]:
# Sorting Lists of Tuples
d = {'a':10, 'b':1, 'c':22}
t = d.items()
t

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [36]:
## Using sorted()

for k, v in sorted(d.items()):
   print(k, v)

a 10
b 1
c 22

In [37]:
## Sort by values instead of key

c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items() :
    tmp.append( (v, k) )

print(tmp)
tmp.sort(reverse=True)
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [126]:
# Word Count
# The top 10 most common words

fhand = open('mbox.txt')
counts = dict()
for line in fhand:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0 ) + 1

lst = list()
for key, val in counts.items():
    lst.append( (val, key) )

lst.sort(reverse=True)

for val, key in lst[:10] :
    print(key, val)

2007 20413
by 16231
Received: 16173
from 14531
with 12754
-0500 11774
Dec 9267
id 9012
Nov 8988
for 7710

In [1]:
## Even Shorter Version

c = {'a':10, 'b':1, 'c':22}
print(sorted( [ (v,k) for k,v in c.items() ]))

[(1, 'b'), (10, 'a'), (22, 'c')]

## From Here onwards. We are moving to another notebook Session_Nov_19_2017.ipynb