In [7]:
x + 6

9

In [14]:
2 + 3 # Press shift+enter

5

In [19]:
x = 3

In [29]:
x = 5
if x < 10:
    print("Smaller'\\\"")
if x > 20:
     print('Bigger')

print('Finis"\'')

Smaller'\"
Finis"'

In [31]:
n = 5
while n > 0:
    print(n)
    n = n - 1
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [32]:
name = input('Enter file:')
handle = open(name, 'r')
text = handle.read()
words = text.split()
counts = dict()
for word in words:
   counts[word] = counts.get(word,0) + 1

bigcount = None
bigword = None
for word,count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count

print(bigword, bigcount)

Enter file:big.txt
the 71744

In [36]:
counts.get('theXXX', 0)

0

In [37]:
counts.get('the', 0)

71744

In [38]:
counts['the']

71744

In [39]:
4 % 2

0

In [40]:
5 % 6

5

In [44]:
x = 11
x % 2 != 0

True

In [45]:
x = True

In [46]:
3 / 4

0.75

In [47]:
3 // 2

1

In [48]:
2 + 3

5

In [49]:
"2" + "3"

'23'

In [51]:
"2" + str(3)

'23'

In [52]:
int("2") + 3

5

In [53]:
float("3.4")

3.4

In [54]:
name = input("Whats your name? ")

Whats your name? Sandeep

In [55]:
name

'Sandeep'

In [56]:
name?

In [57]:
input?

In [59]:
name

'Sandeep'

In [62]:
name.upper()

'SANDEEP'

In [63]:
counts.get?

In [64]:
help(counts.get)

Help on built-in function get:

get(...) method of builtins.dict instance
    D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.

In [65]:
'a'*3

'aaa'

## Rectangle
x1, y1, x2, y2

## point
px, py

### Write a code to print "Yes" if the point exists inside rectangle else print "No"

In [67]:
astr = 'Hello Bob'
istr = int(astr)
istr = -1

ValueError: invalid literal for int() with base 10: 'Hello Bob'

In [68]:
astr = 'Hello Bob'
try:
    istr = int(astr)
except:
    istr = -1

In [69]:
istr

-1

In [70]:
astr = '234'
try:
    istr = int(astr)
except:
    istr = -1

In [71]:
istr

234

In [1]:
x = 3

In [2]:
x

3

In [3]:
x == 3

True

In [7]:
if x <= 3 or x >= 2:
    print("Yes")
else:
    print("no")

Yes

In [11]:
def f(name):
    print("hello")
    print("world")
    print(name)

In [12]:
f("sandeep")

hello
world
sandeep

In [28]:
import math

def dist(x1, y1, x2, y2):
    d = math.sqrt(sq2(x1 - x2) + sq2(y1 - y2))
    print(d)

def sq2(x):
    return x*x

dist(1, 1,1,1)

0.0

In [16]:
sq(3)

9

In [18]:
math.sqrt(4)

2.0

In [24]:
dist(0,0, 1, 1)

1.4142135623730951

In [29]:
def orderi(x, y):
    if x > y:
        return (x, y)
    return (y, x)

In [32]:
(x1, y1) = orderi(3,40)

In [33]:
x1

40

In [34]:
y1

3

In [36]:
max("sandeep")

's'

In [44]:
def f(x):
  x = 5
  return x

In [45]:
y = 6
f(y)
print(y)

6

In [46]:
f

In [50]:
n = 2
while n > 0 :
    print (n)
    n = n - 1
print ('Blastoff!')
print (n)

2
1
Blastoff!
0

In [52]:
# CTRL + D -> End of Input
# CTRL + C -> Sends kill singal to the proces

In [58]:
# fact(n) = n*n-1*n-2.....3*2*1

n = 4
fact = 1
while True :
    fact = fact * n
    n = n - 1
    if n < 1:
        break
print (fact)

24

In [65]:
def factr(n):
    if n < 2:
        return 1
    else:
        return n*factr(n-1)

In [60]:
factr(1)

1

In [61]:
factr(2)

2

In [62]:
factr(3)

6

In [70]:
factr(0)

1

In [77]:
while True:
    line = input("> ")
    if line[0] == '#' :
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

> #ddd
> done
Done!

In [73]:
line = input("Enter: ")

KeyboardInterrupt:

In [75]:
line = input("Enter:")

Enter:s

In [85]:
range?

In [86]:
for i in range(5) :
    print (i)
print ('Blastoff!')

0
1
2
3
4
Blastoff!

In [81]:
x = [3,4,4,"4"]

In [82]:
print(x)

[3, 4, 4, '4']

In [89]:
largest_so_far = -1
print ('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num > largest_so_far :
      largest_so_far = the_num
   print (largest_so_far, the_num)

print ('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [90]:
x = None

In [93]:
smallest = None
print ('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print (smallest, value)
print ('After', smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3

In [94]:
ord('a')

97

In [97]:
print("y \\ x")

y \ x

In [100]:
print("this \\\" is how you comment")

this \" is how you comment

In [101]:
print('this \\" is how you comment')

this \" is how you comment

In [102]:
fruit = 'banana'

In [104]:
fruit[1]

'a'

In [105]:
for i in fruit:
    print(i)

b
a
n
a
n
a

In [111]:
fruit[1:3]

'an'

In [114]:
len(fruit)

6

In [115]:
fruit

'banana'

In [118]:
if 'ban' in 'banana':
    print("ye!")
else:
    print("OOps")

ye!

In [119]:
"apples" < "oranges"

True

In [120]:
ord("a")

97

In [121]:
ord("o")

111

In [122]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print (nstr)

Hello Jane

In [123]:
print(greet)

Hello Bob

In [128]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
atpos = data.find('@')
print (atpos)

21

In [129]:
data[atpos:]

'@uct.ac.za Sat Jan  5 09:14:16 2008'

In [130]:
endpos = data.find(' ', atpos)

In [132]:
data[atpos+1:endpos]

'uct.ac.za'

In [152]:
fhand = open('mbox-short.txt', 'r')

In [153]:
for line in fhand:
    if line.startswith('From:') :
        l = line.rstrip()
        print(l.split()[1])

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu

In [140]:
print("sandeep\ngiri")

sandeep
giri

In [187]:
fhand = open('mbox-short_sg.txt', 'w')

In [188]:
fhand.write("hey")
fhand.close()

In [163]:
for lines in open('mbox-short_sg.txt'):
    print(lines)

hihey

In [189]:
!cat mbox-short_sg.txt

hey

In [165]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]

In [166]:
friends[0]

'Joseph'

In [167]:
friends[1:2]

['Glenn']

In [168]:
friends[2] = "Shally"

In [169]:
friends

['Joseph', 'Glenn', 'Shally']

In [170]:
s = "sandeep"
s[0] = "S"

TypeError: 'str' object does not support item assignment

In [171]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [172]:
a = []
b = list()

In [173]:
type(a)

list

In [174]:
type(b)

list

In [175]:
a

[]

In [176]:
a.append(1)

In [177]:
a

[1]

In [178]:
a.append(2)

In [179]:
a

[1, 2]

In [180]:
a.pop()

2

In [181]:
a

[1]

In [183]:
a.remove(1)

In [184]:
a

[]

In [185]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print (friends)

['Glenn', 'Joseph', 'Sally']

In [191]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [203]:
a = {'money': 12, 'candy': 3, 'tissues': 75}

In [204]:
a

{'candy': 3, 'money': 12, 'tissues': 75}

In [194]:
type(a)

dict

In [200]:
a['money'] = 20

In [198]:
a.get('dollars', "No Money")

'No Money'

In [205]:
a['dollars'] = 56

In [206]:
a

{'candy': 3, 'dollars': 56, 'money': 12, 'tissues': 75}

In [208]:
a.keys()

dict_keys(['money', 'candy', 'tissues', 'dollars'])

In [210]:
a.values()

dict_values([12, 3, 75, 56])

In [213]:
max = None
maxkey = None
for it in a.items():
    if max == None or max < it[1]:
        max = it[1]
        maxkey = it[0]
print(maxkey)

tissues

In [214]:
a

{'candy': 3, 'dollars': 56, 'money': 12, 'tissues': 75}

In [216]:
"money1" in a

False

In [226]:
for k, v in a.items():
    print("%s : %5d" % (k, v))

money :    12
candy :     3
tissues :    75
dollars :    56

In [227]:
x = ('Glenn', 'Sally', 'Joseph')
y = ['Glenn', 'Sally', 'Joseph']

In [228]:
type(x)

tuple

In [229]:
type(y)

list

In [233]:
y[1] = "glenn"

In [234]:
x

('Glenn', 'Sally', 'Joseph')

In [235]:
y

['Glenn', 'glenn', 'Joseph']

In [239]:
(0, 1, 2) < (0, 1, 2, 3)

True

In [240]:
x,y = 2, 3

In [241]:
x

2

In [242]:
type((0, 1, 2))

tuple

In [243]:
(0, 1, 2) < (0, 1, 2)

False

In [244]:
(0, 1, 2) < (0, 1, 2, 1)

True

In [245]:
(0, 1, 2) < (0, 1, 3)

True

In [246]:
(0, 1, 2) < (0, 0, 0, 1)

False

In [247]:
(0, 1, 2) < (0, 1, 2, -1)

True

In [250]:
sorted(a.items())

[('candy', 3), ('dollars', 56), ('money', 12), ('tissues', 75)]

In [251]:
L = [(0, 1, 2), (0, 1, 2), (0, 1, 2, 1), (0, 1, 3), (0, 0, 0, 1), (0, 1, 2, -1)]
sorted(L)

[(0, 0, 0, 1), (0, 1, 2), (0, 1, 2), (0, 1, 2, -1), (0, 1, 2, 1), (0, 1, 3)]

In [252]:
 (1,2,3) < (1,2,3, -1)

True

In [253]:
c = {'a':10, 'b':1, 'c':22}

In [255]:
c.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [258]:
sorted( [ (v,k) for k,v in c.items() ], reverse=True)[0]

(22, 'c')

In [ ]:
list =  [ (v,k) for k,v in c.items() ]

In [259]:
list = []
for k,v in c.items():
    list.append((v, k))

In [261]:
[(x*x,0) for x in [1,2,3]]

[(1, 0), (4, 0), (9, 0)]